// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-1-1-name: 'icon-1-1';
$icon-1-1-x: 644px;
$icon-1-1-y: 607px;
$icon-1-1-offset-x: -644px;
$icon-1-1-offset-y: -607px;
$icon-1-1-width: 277px;
$icon-1-1-height: 71px;
$icon-1-1-total-width: 1310px;
$icon-1-1-total-height: 1024px;
$icon-1-1-image: '../pic/sprite.png';
$icon-1-1: (644px, 607px, -644px, -607px, 277px, 71px, 1310px, 1024px, '../pic/sprite.png', 'icon-1-1', );
$icon-aiesec-name: 'icon-aiesec';
$icon-aiesec-x: 239px;
$icon-aiesec-y: 536px;
$icon-aiesec-offset-x: -239px;
$icon-aiesec-offset-y: -536px;
$icon-aiesec-width: 321px;
$icon-aiesec-height: 66px;
$icon-aiesec-total-width: 1310px;
$icon-aiesec-total-height: 1024px;
$icon-aiesec-image: '../pic/sprite.png';
$icon-aiesec: (239px, 536px, -239px, -536px, 321px, 66px, 1310px, 1024px, '../pic/sprite.png', 'icon-aiesec', );
$icon-aotpou-name: 'icon-aotpou';
$icon-aotpou-x: 0px;
$icon-aotpou-y: 400px;
$icon-aotpou-offset-x: 0px;
$icon-aotpou-offset-y: -400px;
$icon-aotpou-width: 239px;
$icon-aotpou-height: 207px;
$icon-aotpou-total-width: 1310px;
$icon-aotpou-total-height: 1024px;
$icon-aotpou-image: '../pic/sprite.png';
$icon-aotpou: (0px, 400px, 0px, -400px, 239px, 207px, 1310px, 1024px, '../pic/sprite.png', 'icon-aotpou', );
$icon-bc-name: 'icon-bc';
$icon-bc-x: 353px;
$icon-bc-y: 857px;
$icon-bc-offset-x: -353px;
$icon-bc-offset-y: -857px;
$icon-bc-width: 247px;
$icon-bc-height: 72px;
$icon-bc-total-width: 1310px;
$icon-bc-total-height: 1024px;
$icon-bc-image: '../pic/sprite.png';
$icon-bc: (353px, 857px, -353px, -857px, 247px, 72px, 1310px, 1024px, '../pic/sprite.png', 'icon-bc', );
$icon-close-name: 'icon-close';
$icon-close-x: 1262px;
$icon-close-y: 307px;
$icon-close-offset-x: -1262px;
$icon-close-offset-y: -307px;
$icon-close-width: 45px;
$icon-close-height: 45px;
$icon-close-total-width: 1310px;
$icon-close-total-height: 1024px;
$icon-close-image: '../pic/sprite.png';
$icon-close: (1262px, 307px, -1262px, -307px, 45px, 45px, 1310px, 1024px, '../pic/sprite.png', 'icon-close', );
$icon-dove-name: 'icon-dove';
$icon-dove-x: 1233px;
$icon-dove-y: 813px;
$icon-dove-offset-x: -1233px;
$icon-dove-offset-y: -813px;
$icon-dove-width: 72px;
$icon-dove-height: 71px;
$icon-dove-total-width: 1310px;
$icon-dove-total-height: 1024px;
$icon-dove-image: '../pic/sprite.png';
$icon-dove: (1233px, 813px, -1233px, -813px, 72px, 71px, 1310px, 1024px, '../pic/sprite.png', 'icon-dove', );
$icon-eousoa-name: 'icon-eousoa';
$icon-eousoa-x: 722px;
$icon-eousoa-y: 317px;
$icon-eousoa-offset-x: -722px;
$icon-eousoa-offset-y: -317px;
$icon-eousoa-width: 177px;
$icon-eousoa-height: 177px;
$icon-eousoa-total-width: 1310px;
$icon-eousoa-total-height: 1024px;
$icon-eousoa-image: '../pic/sprite.png';
$icon-eousoa: (722px, 317px, -722px, -317px, 177px, 177px, 1310px, 1024px, '../pic/sprite.png', 'icon-eousoa', );
$icon-family-name: 'icon-family';
$icon-family-x: 1144px;
$icon-family-y: 0px;
$icon-family-offset-x: -1144px;
$icon-family-offset-y: 0px;
$icon-family-width: 166px;
$icon-family-height: 151px;
$icon-family-total-width: 1310px;
$icon-family-total-height: 1024px;
$icon-family-image: '../pic/sprite.png';
$icon-family: (1144px, 0px, -1144px, 0px, 166px, 151px, 1310px, 1024px, '../pic/sprite.png', 'icon-family', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 1144px;
$icon-fb-y: 635px;
$icon-fb-offset-x: -1144px;
$icon-fb-offset-y: -635px;
$icon-fb-width: 89px;
$icon-fb-height: 89px;
$icon-fb-total-width: 1310px;
$icon-fb-total-height: 1024px;
$icon-fb-image: '../pic/sprite.png';
$icon-fb: (1144px, 635px, -1144px, -635px, 89px, 89px, 1310px, 1024px, '../pic/sprite.png', 'icon-fb', );
$icon-fbfooter-name: 'icon-fbfooter';
$icon-fbfooter-x: 1144px;
$icon-fbfooter-y: 902px;
$icon-fbfooter-offset-x: -1144px;
$icon-fbfooter-offset-y: -902px;
$icon-fbfooter-width: 89px;
$icon-fbfooter-height: 89px;
$icon-fbfooter-total-width: 1310px;
$icon-fbfooter-total-height: 1024px;
$icon-fbfooter-image: '../pic/sprite.png';
$icon-fbfooter: (1144px, 902px, -1144px, -902px, 89px, 89px, 1310px, 1024px, '../pic/sprite.png', 'icon-fbfooter', );
$icon-flag-big-name: 'icon-flag-big';
$icon-flag-big-x: 1256px;
$icon-flag-big-y: 434px;
$icon-flag-big-offset-x: -1256px;
$icon-flag-big-offset-y: -434px;
$icon-flag-big-width: 50px;
$icon-flag-big-height: 62px;
$icon-flag-big-total-width: 1310px;
$icon-flag-big-total-height: 1024px;
$icon-flag-big-image: '../pic/sprite.png';
$icon-flag-big: (1256px, 434px, -1256px, -434px, 50px, 62px, 1310px, 1024px, '../pic/sprite.png', 'icon-flag-big', );
$icon-flag-name: 'icon-flag';
$icon-flag-x: 1064px;
$icon-flag-y: 171px;
$icon-flag-offset-x: -1064px;
$icon-flag-offset-y: -171px;
$icon-flag-width: 79px;
$icon-flag-height: 78px;
$icon-flag-total-width: 1310px;
$icon-flag-total-height: 1024px;
$icon-flag-image: '../pic/sprite.png';
$icon-flag: (1064px, 171px, -1064px, -171px, 79px, 78px, 1310px, 1024px, '../pic/sprite.png', 'icon-flag', );
$icon-frz-name: 'icon-frz';
$icon-frz-x: 722px;
$icon-frz-y: 0px;
$icon-frz-offset-x: -722px;
$icon-frz-offset-y: 0px;
$icon-frz-width: 258px;
$icon-frz-height: 135px;
$icon-frz-total-width: 1310px;
$icon-frz-total-height: 1024px;
$icon-frz-image: '../pic/sprite.png';
$icon-frz: (722px, 0px, -722px, 0px, 258px, 135px, 1310px, 1024px, '../pic/sprite.png', 'icon-frz', );
$icon-fullscreen-name: 'icon-fullscreen';
$icon-fullscreen-x: 1262px;
$icon-fullscreen-y: 352px;
$icon-fullscreen-offset-x: -1262px;
$icon-fullscreen-offset-y: -352px;
$icon-fullscreen-width: 39px;
$icon-fullscreen-height: 39px;
$icon-fullscreen-total-width: 1310px;
$icon-fullscreen-total-height: 1024px;
$icon-fullscreen-image: '../pic/sprite.png';
$icon-fullscreen: (1262px, 352px, -1262px, -352px, 39px, 39px, 1310px, 1024px, '../pic/sprite.png', 'icon-fullscreen', );
$icon-go-name: 'icon-go';
$icon-go-x: 722px;
$icon-go-y: 135px;
$icon-go-offset-x: -722px;
$icon-go-offset-y: -135px;
$icon-go-width: 182px;
$icon-go-height: 182px;
$icon-go-total-width: 1310px;
$icon-go-total-height: 1024px;
$icon-go-image: '../pic/sprite.png';
$icon-go: (722px, 135px, -722px, -135px, 182px, 182px, 1310px, 1024px, '../pic/sprite.png', 'icon-go', );
$icon-gov-name: 'icon-gov';
$icon-gov-x: 1233px;
$icon-gov-y: 902px;
$icon-gov-offset-x: -1233px;
$icon-gov-offset-y: -902px;
$icon-gov-width: 66px;
$icon-gov-height: 69px;
$icon-gov-total-width: 1310px;
$icon-gov-total-height: 1024px;
$icon-gov-image: '../pic/sprite.png';
$icon-gov: (1233px, 902px, -1233px, -902px, 66px, 69px, 1310px, 1024px, '../pic/sprite.png', 'icon-gov', );
$icon-gromadtv-name: 'icon-gromadtv';
$icon-gromadtv-x: 267px;
$icon-gromadtv-y: 343px;
$icon-gromadtv-offset-x: -267px;
$icon-gromadtv-offset-y: -343px;
$icon-gromadtv-width: 282px;
$icon-gromadtv-height: 47px;
$icon-gromadtv-total-width: 1310px;
$icon-gromadtv-total-height: 1024px;
$icon-gromadtv-image: '../pic/sprite.png';
$icon-gromadtv: (267px, 343px, -267px, -343px, 282px, 47px, 1310px, 1024px, '../pic/sprite.png', 'icon-gromadtv', );
$icon-icon-name: 'icon-icon';
$icon-icon-x: 1144px;
$icon-icon-y: 151px;
$icon-icon-offset-x: -1144px;
$icon-icon-offset-y: -151px;
$icon-icon-width: 147px;
$icon-icon-height: 156px;
$icon-icon-total-width: 1310px;
$icon-icon-total-height: 1024px;
$icon-icon-image: '../pic/sprite.png';
$icon-icon: (1144px, 151px, -1144px, -151px, 147px, 156px, 1310px, 1024px, '../pic/sprite.png', 'icon-icon', );
$icon-igfooter-name: 'icon-igfooter';
$icon-igfooter-x: 1144px;
$icon-igfooter-y: 434px;
$icon-igfooter-offset-x: -1144px;
$icon-igfooter-offset-y: -434px;
$icon-igfooter-width: 112px;
$icon-igfooter-height: 112px;
$icon-igfooter-total-width: 1310px;
$icon-igfooter-total-height: 1024px;
$icon-igfooter-image: '../pic/sprite.png';
$icon-igfooter: (1144px, 434px, -1144px, -434px, 112px, 112px, 1310px, 1024px, '../pic/sprite.png', 'icon-igfooter', );
$icon-insta-name: 'icon-insta';
$icon-insta-x: 1144px;
$icon-insta-y: 724px;
$icon-insta-offset-x: -1144px;
$icon-insta-offset-y: -724px;
$icon-insta-width: 89px;
$icon-insta-height: 89px;
$icon-insta-total-width: 1310px;
$icon-insta-total-height: 1024px;
$icon-insta-image: '../pic/sprite.png';
$icon-insta: (1144px, 724px, -1144px, -724px, 89px, 89px, 1310px, 1024px, '../pic/sprite.png', 'icon-insta', );
$icon-k-name: 'icon-k';
$icon-k-x: 0px;
$icon-k-y: 607px;
$icon-k-offset-x: 0px;
$icon-k-offset-y: -607px;
$icon-k-width: 326px;
$icon-k-height: 106px;
$icon-k-total-width: 1310px;
$icon-k-total-height: 1024px;
$icon-k-image: '../pic/sprite.png';
$icon-k: (0px, 607px, 0px, -607px, 326px, 106px, 1310px, 1024px, '../pic/sprite.png', 'icon-k', );
$icon-lb-ua-name: 'icon-lb-ua';
$icon-lb-ua-x: 0px;
$icon-lb-ua-y: 713px;
$icon-lb-ua-offset-x: 0px;
$icon-lb-ua-offset-y: -713px;
$icon-lb-ua-width: 216px;
$icon-lb-ua-height: 144px;
$icon-lb-ua-total-width: 1310px;
$icon-lb-ua-total-height: 1024px;
$icon-lb-ua-image: '../pic/sprite.png';
$icon-lb-ua: (0px, 713px, 0px, -713px, 216px, 144px, 1310px, 1024px, '../pic/sprite.png', 'icon-lb-ua', );
$icon-logo-title-name: 'icon-logo-title';
$icon-logo-title-x: 1144px;
$icon-logo-title-y: 307px;
$icon-logo-title-offset-x: -1144px;
$icon-logo-title-offset-y: -307px;
$icon-logo-title-width: 118px;
$icon-logo-title-height: 127px;
$icon-logo-title-total-width: 1310px;
$icon-logo-title-total-height: 1024px;
$icon-logo-title-image: '../pic/sprite.png';
$icon-logo-title: (1144px, 307px, -1144px, -307px, 118px, 127px, 1310px, 1024px, '../pic/sprite.png', 'icon-logo-title', );
$icon-mfv-name: 'icon-mfv';
$icon-mfv-x: 326px;
$icon-mfv-y: 607px;
$icon-mfv-offset-x: -326px;
$icon-mfv-offset-y: -607px;
$icon-mfv-width: 318px;
$icon-mfv-height: 90px;
$icon-mfv-total-width: 1310px;
$icon-mfv-total-height: 1024px;
$icon-mfv-image: '../pic/sprite.png';
$icon-mfv: (326px, 607px, -326px, -607px, 318px, 90px, 1310px, 1024px, '../pic/sprite.png', 'icon-mfv', );
$icon-mofaou-name: 'icon-mofaou';
$icon-mofaou-x: 239px;
$icon-mofaou-y: 400px;
$icon-mofaou-offset-x: -239px;
$icon-mofaou-offset-y: -400px;
$icon-mofaou-width: 283px;
$icon-mofaou-height: 136px;
$icon-mofaou-total-width: 1310px;
$icon-mofaou-total-height: 1024px;
$icon-mofaou-image: '../pic/sprite.png';
$icon-mofaou: (239px, 400px, -239px, -400px, 283px, 136px, 1310px, 1024px, '../pic/sprite.png', 'icon-mofaou', );
$icon-moin-name: 'icon-moin';
$icon-moin-x: 722px;
$icon-moin-y: 494px;
$icon-moin-offset-x: -722px;
$icon-moin-offset-y: -494px;
$icon-moin-width: 242px;
$icon-moin-height: 85px;
$icon-moin-total-width: 1310px;
$icon-moin-total-height: 1024px;
$icon-moin-image: '../pic/sprite.png';
$icon-moin: (722px, 494px, -722px, -494px, 242px, 85px, 1310px, 1024px, '../pic/sprite.png', 'icon-moin', );
$icon-more-name: 'icon-more';
$icon-more-x: 980px;
$icon-more-y: 171px;
$icon-more-offset-x: -980px;
$icon-more-offset-y: -171px;
$icon-more-width: 84px;
$icon-more-height: 84px;
$icon-more-total-width: 1310px;
$icon-more-total-height: 1024px;
$icon-more-image: '../pic/sprite.png';
$icon-more: (980px, 171px, -980px, -171px, 84px, 84px, 1310px, 1024px, '../pic/sprite.png', 'icon-more', );
$icon-newtime-name: 'icon-newtime';
$icon-newtime-x: 216px;
$icon-newtime-y: 713px;
$icon-newtime-offset-x: -216px;
$icon-newtime-offset-y: -713px;
$icon-newtime-width: 221px;
$icon-newtime-height: 92px;
$icon-newtime-total-width: 1310px;
$icon-newtime-total-height: 1024px;
$icon-newtime-image: '../pic/sprite.png';
$icon-newtime: (216px, 713px, -216px, -713px, 221px, 92px, 1310px, 1024px, '../pic/sprite.png', 'icon-newtime', );
$icon-pazl-name: 'icon-pazl';
$icon-pazl-x: 1233px;
$icon-pazl-y: 724px;
$icon-pazl-offset-x: -1233px;
$icon-pazl-offset-y: -724px;
$icon-pazl-width: 74px;
$icon-pazl-height: 72px;
$icon-pazl-total-width: 1310px;
$icon-pazl-total-height: 1024px;
$icon-pazl-image: '../pic/sprite.png';
$icon-pazl: (1233px, 724px, -1233px, -724px, 74px, 72px, 1310px, 1024px, '../pic/sprite.png', 'icon-pazl', );
$icon-people-name: 'icon-people';
$icon-people-x: 980px;
$icon-people-y: 255px;
$icon-people-offset-x: -980px;
$icon-people-offset-y: -255px;
$icon-people-width: 82px;
$icon-people-height: 57px;
$icon-people-total-width: 1310px;
$icon-people-total-height: 1024px;
$icon-people-image: '../pic/sprite.png';
$icon-people: (980px, 255px, -980px, -255px, 82px, 57px, 1310px, 1024px, '../pic/sprite.png', 'icon-people', );
$icon-pin-footer-name: 'icon-pin-footer';
$icon-pin-footer-x: 1291px;
$icon-pin-footer-y: 151px;
$icon-pin-footer-offset-x: -1291px;
$icon-pin-footer-offset-y: -151px;
$icon-pin-footer-width: 18px;
$icon-pin-footer-height: 26px;
$icon-pin-footer-total-width: 1310px;
$icon-pin-footer-total-height: 1024px;
$icon-pin-footer-image: '../pic/sprite.png';
$icon-pin-footer: (1291px, 151px, -1291px, -151px, 18px, 26px, 1310px, 1024px, '../pic/sprite.png', 'icon-pin-footer', );
$icon-school-name: 'icon-school';
$icon-school-x: 980px;
$icon-school-y: 0px;
$icon-school-offset-x: -980px;
$icon-school-offset-y: 0px;
$icon-school-width: 164px;
$icon-school-height: 171px;
$icon-school-total-width: 1310px;
$icon-school-total-height: 1024px;
$icon-school-image: '../pic/sprite.png';
$icon-school: (980px, 0px, -980px, 0px, 164px, 171px, 1310px, 1024px, '../pic/sprite.png', 'icon-school', );
$icon-search-name: 'icon-search';
$icon-search-x: 1233px;
$icon-search-y: 546px;
$icon-search-offset-x: -1233px;
$icon-search-offset-y: -546px;
$icon-search-width: 74px;
$icon-search-height: 74px;
$icon-search-total-width: 1310px;
$icon-search-total-height: 1024px;
$icon-search-image: '../pic/sprite.png';
$icon-search: (1233px, 546px, -1233px, -546px, 74px, 74px, 1310px, 1024px, '../pic/sprite.png', 'icon-search', );
$icon-segodnya-name: 'icon-segodnya';
$icon-segodnya-x: 437px;
$icon-segodnya-y: 771px;
$icon-segodnya-offset-x: -437px;
$icon-segodnya-offset-y: -771px;
$icon-segodnya-width: 267px;
$icon-segodnya-height: 34px;
$icon-segodnya-total-width: 1310px;
$icon-segodnya-total-height: 1024px;
$icon-segodnya-image: '../pic/sprite.png';
$icon-segodnya: (437px, 771px, -437px, -771px, 267px, 34px, 1310px, 1024px, '../pic/sprite.png', 'icon-segodnya', );
$icon-sity-name: 'icon-sity';
$icon-sity-x: 167px;
$icon-sity-y: 857px;
$icon-sity-offset-x: -167px;
$icon-sity-offset-y: -857px;
$icon-sity-width: 186px;
$icon-sity-height: 149px;
$icon-sity-total-width: 1310px;
$icon-sity-total-height: 1024px;
$icon-sity-image: '../pic/sprite.png';
$icon-sity: (167px, 857px, -167px, -857px, 186px, 149px, 1310px, 1024px, '../pic/sprite.png', 'icon-sity', );
$icon-slm-name: 'icon-slm';
$icon-slm-x: 722px;
$icon-slm-y: 579px;
$icon-slm-offset-x: -722px;
$icon-slm-offset-y: -579px;
$icon-slm-width: 255px;
$icon-slm-height: 19px;
$icon-slm-total-width: 1310px;
$icon-slm-total-height: 1024px;
$icon-slm-image: '../pic/sprite.png';
$icon-slm: (722px, 579px, -722px, -579px, 255px, 19px, 1310px, 1024px, '../pic/sprite.png', 'icon-slm', );
$icon-tribute-name: 'icon-tribute';
$icon-tribute-x: 0px;
$icon-tribute-y: 857px;
$icon-tribute-offset-x: 0px;
$icon-tribute-offset-y: -857px;
$icon-tribute-width: 167px;
$icon-tribute-height: 167px;
$icon-tribute-total-width: 1310px;
$icon-tribute-total-height: 1024px;
$icon-tribute-image: '../pic/sprite.png';
$icon-tribute: (0px, 857px, 0px, -857px, 167px, 167px, 1310px, 1024px, '../pic/sprite.png', 'icon-tribute', );
$icon-twfooter-name: 'icon-twfooter';
$icon-twfooter-x: 1144px;
$icon-twfooter-y: 546px;
$icon-twfooter-offset-x: -1144px;
$icon-twfooter-offset-y: -546px;
$icon-twfooter-width: 89px;
$icon-twfooter-height: 89px;
$icon-twfooter-total-width: 1310px;
$icon-twfooter-total-height: 1024px;
$icon-twfooter-image: '../pic/sprite.png';
$icon-twfooter: (1144px, 546px, -1144px, -546px, 89px, 89px, 1310px, 1024px, '../pic/sprite.png', 'icon-twfooter', );
$icon-twit-name: 'icon-twit';
$icon-twit-x: 1144px;
$icon-twit-y: 813px;
$icon-twit-offset-x: -1144px;
$icon-twit-offset-y: -813px;
$icon-twit-width: 89px;
$icon-twit-height: 89px;
$icon-twit-total-width: 1310px;
$icon-twit-total-height: 1024px;
$icon-twit-image: '../pic/sprite.png';
$icon-twit: (1144px, 813px, -1144px, -813px, 89px, 89px, 1310px, 1024px, '../pic/sprite.png', 'icon-twit', );
$icon-ukr-pravda-name: 'icon-ukr-pravda';
$icon-ukr-pravda-x: 267px;
$icon-ukr-pravda-y: 200px;
$icon-ukr-pravda-offset-x: -267px;
$icon-ukr-pravda-offset-y: -200px;
$icon-ukr-pravda-width: 285px;
$icon-ukr-pravda-height: 143px;
$icon-ukr-pravda-total-width: 1310px;
$icon-ukr-pravda-total-height: 1024px;
$icon-ukr-pravda-image: '../pic/sprite.png';
$icon-ukr-pravda: (267px, 200px, -267px, -200px, 285px, 143px, 1310px, 1024px, '../pic/sprite.png', 'icon-ukr-pravda', );
$icon-unv-name: 'icon-unv';
$icon-unv-x: 437px;
$icon-unv-y: 713px;
$icon-unv-offset-x: -437px;
$icon-unv-offset-y: -713px;
$icon-unv-width: 325px;
$icon-unv-height: 58px;
$icon-unv-total-width: 1310px;
$icon-unv-total-height: 1024px;
$icon-unv-image: '../pic/sprite.png';
$icon-unv: (437px, 713px, -437px, -713px, 325px, 58px, 1310px, 1024px, '../pic/sprite.png', 'icon-unv', );
$icon-uz-name: 'icon-uz';
$icon-uz-x: 0px;
$icon-uz-y: 200px;
$icon-uz-offset-x: 0px;
$icon-uz-offset-y: -200px;
$icon-uz-width: 267px;
$icon-uz-height: 200px;
$icon-uz-total-width: 1310px;
$icon-uz-total-height: 1024px;
$icon-uz-image: '../pic/sprite.png';
$icon-uz: (0px, 200px, 0px, -200px, 267px, 200px, 1310px, 1024px, '../pic/sprite.png', 'icon-uz', );
$icon-world-name: 'icon-world';
$icon-world-x: 1233px;
$icon-world-y: 635px;
$icon-world-offset-x: -1233px;
$icon-world-offset-y: -635px;
$icon-world-width: 73px;
$icon-world-height: 73px;
$icon-world-total-width: 1310px;
$icon-world-total-height: 1024px;
$icon-world-image: '../pic/sprite.png';
$icon-world: (1233px, 635px, -1233px, -635px, 73px, 73px, 1310px, 1024px, '../pic/sprite.png', 'icon-world', );
$icon-years-name: 'icon-years';
$icon-years-x: 0px;
$icon-years-y: 0px;
$icon-years-offset-x: 0px;
$icon-years-offset-y: 0px;
$icon-years-width: 722px;
$icon-years-height: 200px;
$icon-years-total-width: 1310px;
$icon-years-total-height: 1024px;
$icon-years-image: '../pic/sprite.png';
$icon-years: (0px, 0px, 0px, 0px, 722px, 200px, 1310px, 1024px, '../pic/sprite.png', 'icon-years', );
$spritesheet-width: 1310px;
$spritesheet-height: 1024px;
$spritesheet-image: '../pic/sprite.png';
$spritesheet-sprites: ($icon-1-1, $icon-aiesec, $icon-aotpou, $icon-bc, $icon-close, $icon-dove, $icon-eousoa, $icon-family, $icon-fb, $icon-fbfooter, $icon-flag-big, $icon-flag, $icon-frz, $icon-fullscreen, $icon-go, $icon-gov, $icon-gromadtv, $icon-icon, $icon-igfooter, $icon-insta, $icon-k, $icon-lb-ua, $icon-logo-title, $icon-mfv, $icon-mofaou, $icon-moin, $icon-more, $icon-newtime, $icon-pazl, $icon-people, $icon-pin-footer, $icon-school, $icon-search, $icon-segodnya, $icon-sity, $icon-slm, $icon-tribute, $icon-twfooter, $icon-twit, $icon-ukr-pravda, $icon-unv, $icon-uz, $icon-world, $icon-years, );
$spritesheet: (1310px, 1024px, '../pic/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
